.footer {
  background-color: $color-jade;
  color: $color-default-white;
  margin-top: 64px;
  padding: 60px 0 120px 0;
  position: relative;

  & .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 30px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__section {
    &:not(:last-of-type) {
      margin-right: 115px;
    }

    &:first-of-type {
      margin-left: auto;

      @include vp-1023 {
        margin-left: 0;
      }
    }
  }

  &__rectangle {
    // why?
    width: 108px;
    height: 154px;
    background: #009B63;
    border-radius: 16px;
    margin: 16px 0;

    @include vp-1023 {
      display: none;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  &__svg {
    width: 32px;
    height: 32px;
    background-color: rgba($color-default-white, 0.1);
    border-radius: 50%;
    position: relative;
    margin-right: 8px;

    & svg {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  & a {
    color: $color-default-white;
  }

  &__copyright {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin: auto;
    width: 170px;
  }
}
