.slider {
  position: relative;

  &__container {
    padding: 0 72px;
    margin: 0 auto;
    max-width: 1296px;

    @include vp-1023 {
      padding: 0 30px;
    }

    @include vp-767 {
      padding: 0 15px;
    }
  }
}

.slider__title {
  position: absolute;
  top: 112px;
  max-width: 794px;
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  color: $color-black-russian;

  & span {
    color: $color-jade;
  }

  @include vp-1023 {
    top: 78px;
    max-width: 433px;
    font-size: 33px;
    line-height: 47px;
  }

  @include vp-767 {
    top: 24px;
    max-width: 247px;
    font-size: 20px;
    line-height: 24px;
  }
}
